<form method="post" action="/admin/new">
  Name: <input type="text" name="name" /> <br/>
  Latitude: <input type="text" name="latitude" /> <br/>
  Longitude: <input type="text" name="longitude" /> <br/>
  Description: <input type="text" name="description" /> <br/>
  Rating: <input type="text" name="rating" /> <br/>
  Loudness: <input type="text" name="loudness" /> <br/>
  Crowdedness: <input type="text" name="crowdedness" /> <br/>
  Category: <input type="text" name="bar_category" /> <br/>
  Address: <input type="text" name="address" /> <br/>
  Person Count: <input type="text" name="person_count" /> <br/>
  Rating Count: <input type="text" name="rating_count" /> <br/>
  Loudness Count: <input type="text" name="loudness_count" /> <br/>
  Croudedness Count <input type="text" name="crowdedness_count" /> <br/>
  <input type="submit" value="Submit" />
</form>
